{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "no-console": "warn",
        "quotes": [
            "error",
            "double"
        ],
        "no-restricted-syntax": "off"
    },
    "plugins": [
        "html",
        "markdown"
    ]
}